@page
@model AlMomento.Pages.Noticias.Gestionar.CreateModel

@{
    ViewData["Title"] = "Publicar noticia";
}

<h1>Publicar una noticia</h1>

<h4 class="text-muted">
    <small>Noticia</small>
</h4>

<hr />
<form method="post" class="row g-5">
    <div class="col-md-5">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mb-3">
            <label asp-for="Noticia.Titulo" class="control-label"></label>:
            <input asp-for="Noticia.Titulo" class="form-control" />
            <span asp-validation-for="Noticia.Titulo" class="text-danger"></span>
        </div>
        <div class="form-group my-3">
            <label asp-for="Noticia.Categoria" class="control-label"></label>:
            <select asp-for="Noticia.Categoria" class="form-select" required>
                <option value="">Seleciona una categoría</option>
                <option value="Nacionales">Nacionales</option>
                <option value="Sociales">Sociales</option>
                <option value="Economía">Economía</option>
                <option value="Deportes">Deportes</option>
                <option value="Entretenimiento">Entretenimiento</option>
                <option value="Turismo">Turismo</option>
            </select>
            <span asp-validation-for="Noticia.Categoria" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Noticia.FechaPublicacion" class="control-label"></label>:
            <input asp-for="Noticia.FechaPublicacion" class="form-control" />
            <span asp-validation-for="Noticia.FechaPublicacion" class="text-danger"></span>
        </div>
        <div class="form-group my-3">
            <label asp-for="Noticia.FechaRedaccion" class="control-label"></label>:
            <input asp-for="Noticia.FechaRedaccion" class="form-control" />
            <span asp-validation-for="Noticia.FechaRedaccion" class="text-danger"></span>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" asp-for="Noticia.Estado" role="switch" />
            <label class="form-check-label">
                @Html.DisplayNameFor(model => model.Noticia.Estado)
            </label>
        </div>
        <div class="form-group my-3">
            <label asp-for="Noticia.Autor" class="control-label"></label>:
            <input asp-for="Noticia.Autor" class="form-control" />
            <span asp-validation-for="Noticia.Autor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Noticia.AutorContacto" class="control-label"></label>:
            <input asp-for="Noticia.AutorContacto" class="form-control" />
            <span asp-validation-for="Noticia.AutorContacto" class="text-danger"></span>
        </div>
        <div class="form-group my-3">
            <label asp-for="Noticia.Foto" class="control-label"></label>:
            <input asp-for="Noticia.Foto" class="form-control" />
            <span asp-validation-for="Noticia.Foto" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Noticia.FotoPie" class="control-label"></label>:
            <input asp-for="Noticia.FotoPie" class="form-control" />
            <span asp-validation-for="Noticia.FotoPie" class="text-danger"></span>
        </div>
        <div class="form-group my-3">
            <label asp-for="Noticia.Video" class="control-label"></label>:
            <input asp-for="Noticia.Video" class="form-control" />
            <span asp-validation-for="Noticia.Video" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Noticia.Localidad" class="control-label"></label>:
            <input asp-for="Noticia.Localidad" class="form-control" />
            <span asp-validation-for="Noticia.Localidad" class="text-danger"></span>
        </div>
        <div class="form-group my-3">
            <label asp-for="Noticia.CantidadVisitas" class="control-label"></label>:
            <input asp-for="Noticia.CantidadVisitas" class="form-control" />
            <span asp-validation-for="Noticia.CantidadVisitas" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Noticia.CantidadLikes" class="control-label"></label>:
            <input asp-for="Noticia.CantidadLikes" class="form-control" />
            <span asp-validation-for="Noticia.CantidadLikes" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <label asp-for="Noticia.Sumario" class="control-label"></label>:
            <input asp-for="Noticia.Sumario" class="form-control" />
            <span asp-validation-for="Noticia.Sumario" class="text-danger"></span>
        </div>
        <div class="form-group my-3">
            <label asp-for="Noticia.Lead" class="control-label"></label>:
            <input asp-for="Noticia.Lead" class="form-control" />
            <span asp-validation-for="Noticia.Lead" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Noticia.Cuerpo" class="control-label"></label>:
            <textarea asp-for="Noticia.Cuerpo" class="form-control" rows="25"></textarea>
            <span asp-validation-for="Noticia.Cuerpo" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group my-3">
        <input type="submit" value="Publicar" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-page="Index">Volver al listado de noticias</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
