@page
@model IndexModel
@{
    ViewData["Title"] = "Tu fuente de información inmediata";
}

<div class="row flex-lg-row-reverse align-items-center g-5 pb-5 px-md-4 px-0">
    <div class="col-10 col-sm-8 col-lg-6">
        <img src="~/res/Logo sin fondo - Al Momento.png" class="d-block mx-lg-auto img-fluid" alt="Al Momento: Tu fuente de información inmediata" width="700" height="700" loading="lazy">
    </div>
    <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Al Momento - Noticias en Tiempo Real</h1>
        <p class="lead">
            Al Momento te ofrece las noticias más relevantes de la República Dominicana y del mundo, con actualizaciones al instante. Mantente informado con nuestra cobertura completa y precisa.
            <br />
            <br />
            ¡Suscríbete a nuestro boletín y no te pierdas ninguna noticia!
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Suscribete</button>
            <input class="form-control form-control-lg" type="email" placeholder="ejemplo@email.com" aria-label="Suscribete a nuestro boletin">
        </div>
    </div>
</div>
